<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo</title>
<script src="js/echarts.js"></script>
<script src="js/jquery-1.7.2.js"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('main'));
		function fetchData(cb) {
		    // 通过 setTimeout 模拟异步加载
		    setTimeout(function () {
		        cb({
		            categories: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"],
		            data: [5, 20, 36, 10, 10, 20]
		        });
		    }, 3000);
		}

		// 初始 option
		option = {
		    title: {
		        text: '异步数据加载示例'
		    },
		    tooltip: {},
		    legend: {
		        data:['销量']
		    },
		    xAxis: {
		        data: []
		    },
		    yAxis: {},
		    series: [{
		        name: '销量',
		        type: 'bar',
		        data: []
		    }]
		};
		myChart.setOption(option);
		// 设置loading动画
		myChart.showLoading();

		fetchData(function (data) {
			// 隐藏loading动画
		    myChart.hideLoading();
		    myChart.setOption({
		        xAxis: {
		            data: data.categories
		        },
		        series: [{
		            // 根据名字对应到相应的系列
		            name: '销量',
		            data: data.data
		        }]
		    });
		});
	</script>
</body>
</html>