<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo</title>
<script src="../static/js/echarts.js"></script>
<script src="../static/js/jquery-1.7.2.js"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('main'));
		myChart.setOption({
		    title: {
		        text: '异步数据加载示例'
		    },
		    tooltip: {},
		    legend: {
		        data:['销量']
		    },
		    xAxis: {
		        data: []
		    },
		    yAxis: {},
		    series: [{
		        name: '销量',
		        type: 'bar',
		        data: []
		    }]
		})
 		myChart.showLoading();		// 加载图标
		$.get('http://localhost:8080/ECharts/MyServlet').done(function(data) {
			obj = $.parseJSON(data);
		    myChart.hideLoading();	//  隐藏图标	
			var numbers = new Array();		// 销售数量
			var goodNames = new Array();	// 商品名称
			var date = new Array();			// 销售日期
			for (var i = 0; i < obj.length; i++) {
				numbers[i] = obj[i].number;
				goodNames[i] = obj[i].goodName;
				date[0] = obj[i].currentDateStr;
			}
			myChart.setOption({
				title : {
					text : '异步数据加载示例'
				},
				tooltip : {},
				legend : {
					data : date
				},
				xAxis : {
					data : goodNames
				},
				yAxis : {},
				series : [ {
					name : date,
					type : 'bar',
					data : numbers
				} ]
			});
			
		});
	</script>
</body>
</html>