<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo</title>
<script src="js/echarts.js"></script>
<script src="js/jquery-1.7.2.js"></script>
</head>
<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 1200px; height: 500px;"></div>
	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));
		var option = {
				title : {
					text : '初始化完毕，setOption填入数值'
				},
				tooltip : {},
				legend : {
					data : ['销量']
				},
				xAxis : {
					data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
				},
				yAxis : {},
				series : [ {
					name : '销量',
					type : 'bar',
					data : [5, 20, 36, 10, 10, 20]
				} ]
			};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		$(function() {
			// 商品信息
			alert("页面加载完毕，发出数据请求");
			var obj = {};
			$.ajax({
				type : "POST",
				url : "http://localhost:8080/ECharts/MyServlet",
				data : {},
				success : function(data) {
					alert("返回后台数据");
					obj = $.parseJSON(data);
					var numbers = new Array();		// 销售数量
					var goodNames = new Array();	// 商品名称
					var date = new Array();			// 销售日期
					for (var i = 0; i < obj.length; i++) {
						numbers[i] = obj[i].number;
						goodNames[i] = obj[i].goodName;
						date[0] = obj[i].currentDateStr;
					}
					// 指定图表的配置项和数据
					var option = {
						title : {
							text : '初始化完毕，setOption填入数值'
						},
						tooltip : {},
						legend : {
							data : date
						},
						xAxis : {
							data : goodNames
						},
						yAxis : {},
						series : [ {
							name : date[0],
							type : 'bar',
							data : numbers
						} ]
					};
	
					// 使用刚指定的配置项和数据显示图表。
					myChart.setOption(option);
				}
			});
		})
	</script>
</body>
</html>